blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography @ file:///home/builder/.termux-build/python-cryptography/src
Flask==3.1.2
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
numpy @ file:///home/runner/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_aarch64.whl#sha256=b28ce81b8c071c0f1f798027067c41c371aba2bf5b29a6649f10dd35a09ce4b1
paramiko==4.0.0
pyasynchat==1.0.5
pyasyncore==1.0.5
pycparser==3.0
pyftpdlib==2.1.0
requests==2.32.5
scipy @ file:///home/runner/.termux-build/python-scipy/src/dist/scipy-1.17.0-cp312-cp312-linux_aarch64.whl#sha256=bdc0d201c797e747ad2073e8723e7e205a631c98686924dfc296fbf31bc016de
urllib3==2.6.3
Werkzeug==3.1.5
